doctype html
html
    head
        title= title
        base(href="/")
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='stylesheets/styles.css', media='screen')
        script(src='node_modules/core-js/client/shim.min.js')
        script(src='node_modules/zone.js/dist/zone.js')
        script(src='node_modules/systemjs/dist/system.src.js')
        script(src='dist/systemjs.config.js')
        script(type="text/javascript").
            System.import('dist/main.js').catch(function(err){ console.error(err)})
            
    body
        block content
